<div th:replace="shared/header"></div>
<h1>Home Page</h1>

<!--<div style="font-size:25px" id="todaysdate"></div>-->


<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
        <div class="inner">
            <h3 id="client-view"></h3>

            <p>Client Registrations</p>
        </div>
        <div class="icon">
            <i class="ion ion-person-add"></i>
        </div>
        <a th:href="@{'/clients'}" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>

<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
        <div class="inner">
            <h3 id="emp-view"></h3>

            <p>Employees Registrations</p>
        </div>
        <div class="icon">
            <i class="ion ion-person-add"></i>
        </div>
        <a th:href="@{'/employees'}" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>

<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
        <div class="inner">
            <h3 id="project-view"></h3>

            <p>Project Registrations</p>
        </div>
        <div class="icon">
            <i class="ion fa-folder-open"></i>
        </div>
        <a th:href="@{'/projects'}" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>

<div class="col-md-8">
    <!-- USERS LIST -->
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Latest Employees</h3>

            <div class="box-tools pull-right">
                <span class="label label-danger emp-number"> </span>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding recent-emp-list">
            <ul class="users-list clearfix">
                <!--Employee recent list-->
            </ul>
            <!-- /.users-list -->
        </div>

        <!-- /.box-body -->
        <div class="box-footer text-center">
            <a href="javascript:void(0)" class="uppercase">View All Users</a>
        </div>
        <!-- /.box-footer -->

    </div>
    <!--/.box -->
</div>
<!-- /.col -->
<div class="col-md-4">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Recently Added Products</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body project-list">
            <ul class="project-list project-list-in-box">
                <!-- item -->
            </ul>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">
            <a href="javascript:void(0)" class="uppercase">View All Products</a>
        </div>
        <!-- /.box-footer -->
    </div>
</div>
<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->


</div>
<!-- /.row -->


<div th:replace="shared/footer"></div>

<script>
    $.get('/clients/json', function (data) {
        $length = data.length;
        $('#client-view').html($length);
    });

    $.get('/employees/json', function (data) {
        $length = data.length;
        $('#emp-view').html($length);
    });

    $.get('/projects/json', function (data) {
        $length = data.length;
        $('#project-view').html($length);
    });

    $.get('employees/recent-employee', function (data) {
        $length = data.length;
        $('.emp-number').html($length + " New Member");
        $.each(data, function (index, row) {
            var $empList = $('.recent-emp-list ul');
            var $li = $('<li><img src="/webjars/adminlte/2.3.11/dist/img/user7-128x128.jpg" alt="User Image"><a class="users-list-name" href="#">'+row.fullName+'</a></li>').appendTo($empList);
        });

//        let now = moment();
//        let time = now.format('dddd');
//        console.log(now.format('dddd'));
//        document.getElementById("todaysdate").innerHTML = time;

        $.get('/projects/recent-project', function (data) {
            $.each(data, function (index, row) {
                var $projectlist = $('.project-list ul');
                var $li = $('<li class="item"><div class="project-img">\n\
        <img src="/webjars/adminlte/2.3.11/dist/img/default-50x50.gif" alt="Project Image"></div>\n\
        <div class="project-info"><a href="javascript:void(0)" class="project-title">'+row.name+'\
<span class="label label-warning pull-right">'+row.budget+'</span></a><span class="project-description">\n\
'+row.description+'</span></div></li>').appendTo($projectlist);
            });
        });

    });
</script>