<div th:replace="shared/header"></div>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <a href="javascript:void(0)" class="btn btn-primary add-btn" th:title="@{'Create '+${pageTitle}}">
                        <span class="glyphicon glyphicon-plus "></span>
                    </a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="view-table" th:include="${viewPath}+'/table'"></div>
                </div>
                <!-- /.box-body -->

                <div th:include="${viewPath}+'/components/form-dialog'"></div>

                <div th:replace="shared/footer"></div>

                <script>
                    $(document).ready(function () {
                        var $add = $('.add-btn');
                        $add.on('click', function () {
                            var $dialog = $('#form-dialog');
                            $('input').val('');
                            $('input[name=id]').val(0);
                            $dialog.find('#modal-title').html('Create ' + pageTitle);
                            $dialog.modal();
                            return false;
                        });


                        $('#view-table').on('click', '.edit-btn', function () {
                            var $id = $(this).attr('rel');
                            $.getJSON('/' + pageURI + '/json/' + $id, function (data) {
                                var $dialog = $('#form-dialog');
                                $dialog.find('#modal-title').html('Edit ' + pageTitle);
                                $('input[name=id]').val(data.id);
                                $('input[name=name]').val(data.name);
                                $('input[name=color]').val(data.color);
                                $dialog.modal();
                            });
                            return false;
                        });


                        var $form = $('#add-form');
                        $form.on('submit', function () {
                            $.post('/' + pageURI + '/json', $(this).serialize(),
                                    function (data) {
                                        if (data === 'success') {
                                            $('#form-dialog').modal('hide');
                                            $.get('/' + pageURI + '/table', function (data) {
                                                $('#view-table').html(data);
                                            });
                                        }
                                    });
                            return false;
                        });
                    });
                </script>
