<div th:replace="shared/header"></div>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <a href="javascript:void(0)" class="btn btn-primary add-btn" th:title="@{'Create '+${pageTitle}}">
                        <span class="glyphicon glyphicon-plus "></span>
                    </a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="view-table" th:include="${pageURI}+'/table'"></div>
                </div>
                <!-- /.box-body -->
                <div th:include="${pageURI}+'/components/form-dialog'"></div>
                <div th:include="${pageURI}+'/components/profile-dialog'"></div>
                <div th:replace="shared/footer"></div>

                <script>
                    $(document).ready(function () {
                        var $add = $('.add-btn');
                        $add.on('click', function () {
                            var $dialog = $('#form-dialog');
                            $dialog.modal();
                            $('input').val('');
                            $('input[name=id]').val('0');
                            $('input[type=checkbox]').attr('checked', false).val('1');
                            return false;
                        });
                        $('#view-table').on('click', ('.edit-btn'), function () {
                            var $id = $(this).attr('rel');
                            $.get('/' + pageURI + '/json/' + $id, function (data) {
                                var $dialog = $('#form-dialog');
                                $('input[name=firstName]').val(data.firstName);
                                $('input[name=lastName]').val(data.lastName);
                                $('input[name=email]').val(data.email);
                                $('input[name=contactNo]').val(data.contactNo);
                                $('input[name=panNo]').val(data.panNo);
                                $('input[name=address]').val(data.address);
                                $('input[name=status]').attr('checked', data.status);
                                $dialog.modal();
                            });
                            return false;
                        });
                        $('#add-form').on('submit', function () {
                            $.post('/' + pageURI + '/json', $(this).serialize(), function (data) {
                                if (data === 'success') {
                                    $('#form-dialog').modal('hide');
                                    $.get('/' + pageURI + '/table', function (data) {
                                        $('#view-table').html(data);
                                    });
                                }
                            });
                            return false;
                        });
                        
                        $('.view-btn').on('click', function () {
                            $id = $(this).attr('rel');
                            $.get('/' + pageURI + '/json/' + $id, function (data) {
                                $dialog = $('#profile-dialog-form');
                                $('.name-view').html(data.fullName);
                                $('.address-view').html(data.address);
                                $('.email-view').html(data.email);
                                $('.panNo-view').html(data.panNo);
                                $('.contactNo-view').html(data.contactNo);
                                $dialog.modal();
                            });
                            return false;
                        });
                    });
                </script>
