
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Client</th>
            <th>Deadline</th>
            <th>Budget</th>
            <th>Employee</th>
            <th>Status</th>
            <th>Created Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="record:${records}">
            <td th:text="${record.id}"></td>
            <td th:text="${record.name}"></td>
            <td>
                <a th:text="${record.client.name}" href="javascript:void(0)" class="client-detail"
                   th:rel="${record.id}"  data-toggle="popover" title="Popover title hi" 
                   data-content="And here's some amazing content. It's very engaging. Right?"></a>
            </td>
            <td th:text="${record.deadline}"></td>
            <td th:text="${record.budget}"></td>
            <td>
                <a href="javascript:void(0)" class="btn btn-default btn-xs view-emp-btn" th:rel="${record.id}" 
                   th:data-name="${record.name}" th:text="${record.employees.size()}"></a>
                <a href="javascript:void(0)" class="btn btn-default btn-xs add-emp-btn" th:data-name="${record.name}" 
                   th:rel="${record.id}"><span class="glyphicon glyphicon-plus"></span>
                </a>
            </td>
            <td th:style="'background:'+${record.status.get(record.status.size()-1).color}">
                <a href="javascript:void(0)" th:text="${record.status.get(record.status.size()-1).name}"
                    class="change-status" th:project-name="${record.name}" th:rel="${record.id}"
                    th:status-id="${record.status}"></a>
            </td>
            
            <td th:text="${#dates.format(record.createdDate, 'yyyy-MM-dd')}"></td>
            <td>
                <a th:href="@{'/'+${pageURI}+'/detail/'+${record.id}}" 
                   th:title="@{'Detail '+${pageTitle}}" 
                   th:rel="${record.id}" class="btn btn-primary btn-xs view-btn">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
                <a th:href="@{'/'+${pageURI}+'/edit/'+${record.id}}" 
                   th:title="@{'Edit '+${pageTitle}}" 
                   th:rel="${record.id}" class="btn btn-warning btn-xs edit-btn">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a th:href="@{'/'+${pageURI}+'/delete/'+${record.id}}" 
                   th:rel="${record.id}" th:title="@{'Delete '+${pageTitle}}" 
                   class="btn btn-danger btn-xs delete-btn">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
    </tbody>

</table>